<ul class="list-inline text-center">
  <% ["vincent", "jo"].each do |member| %>
    <li>
      <%= image_tag "#{member}.jpg", class: "img-circle", width: "100" %>
      <h3><%= member.capitalize %></h3>
    </li>
  <% end %>
</ul>
